<%- include('./layouts/header.ejs')%>

<div class="main">
  <%- include('./layouts/navbar.ejs')%>
  <div class="container-fluid">
    <div class="page-title">
      <h1>网站设置</h1>
    </div>
    <!-- 有错误信息时展示 -->
    <div class="alert alert-danger errorHide">
      <strong>错误！</strong>发生XXX错误
    </div>
    <form class="form-horizontal" id="myForm">
      <div class="form-group">
        <label for="site_logo" class="col-sm-2 control-label">网站图标</label>
        <div class="col-sm-6">
          <input id="site_logo" name="site_logo" type="hidden">
          <label class="form-image">
            <input id="logo" type="file">
            <img src="<%= site_logo%>">
            <i class="mask fa fa-upload"></i>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="site_name" class="col-sm-2 control-label">站点名称</label>
        <div class="col-sm-6">
          <input id="site_name" name="site_name" value="<%= site_name%>" class="form-control" type="type"
            placeholder="站点名称">
        </div>
      </div>
      <div class="form-group">
        <label for="site_description" class="col-sm-2 control-label">站点描述</label>
        <div class="col-sm-6">
          <textarea id="site_description" name="site_description" class="form-control" placeholder="站点描述" cols="30"
            rows="6"><%= site_description%></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="site_keywords" class="col-sm-2 control-label">站点关键词</label>
        <div class="col-sm-6">
          <input id="site_keywords" value="<%= site_keywords%>" name="site_keywords" class="form-control" type="type"
            placeholder="站点关键词">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">评论</label>
        <div class="col-sm-6">
          <div class="checkbox">
            <label><input id="comment_status" name="comment_status" type="checkbox" <% if(comment_status==0){%> checked <%}%> >开启评论功能</label>
            </div>
            <div class="checkbox">
              <label><input id="comment_reviewed" name="comment_reviewed" type="checkbox" <% if(comment_reviewed==0){%>
                checked <%}%> >评论必须经人工批准</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-primary">保存设置</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <%- include('./layouts/asider.ejs')%> <%- include('./layouts/footer.ejs')%> <script>
    //　上传图片
    $('#logo').on('change', function () {
      var data = new FormData()
      data.append('avatar', this.files[0])

      // 发送ajax
      $.ajax({
        type: 'post',
        url: '/uploadFile',
        data: data,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          if (res && res.code == 0) {
            // 上传成功显示图片
            $('#logo').next().attr('src', res.src)

            // 将图片地址存储在隐藏域中
            $('#site_logo').val(res.src)
          }
        }
      })
    })

    // 更新数据
    $('#myForm').on('submit', function (event) {
      // 阻止默认提交行为
      event.preventDefault()
      // 发送ajax请求
      $.ajax({
        type: 'post',
        url: '/updateSettings',
        data: $(this).serialize(),
        dataType: 'json',
        success: function (res) {
          if (res && res.code == 0) {
            // 提示成功
            $('.alert').toggleClass('errorShow').html('<strong>更新网站设置成功!2秒后返回主页</strong>')
            var timeId = setTimeout(() => {
              $('alert').toggleClass('errorShow')
              location.href = '/'
            }, 2000);
          }
          else {
              // 提示失败
              $('.alert').toggleClass('errorShow').html('<strong>更新网站设置失败!</strong>')
              var timeId = setTimeout(() => {
                $('alert').toggleClass('errorShow')
              }, 2000);
          }
        }
      })
    })
  </script>